<h1>Kentronics Engineering</h1>
<div class="navContent">
  <img
    src="https://img.freepik.com/premium-photo/light-lens-flare-black-background_692702-703.jpg"
    alt=""
  />
  <nav>
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact Us</a>
  </nav>
</div>
