<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <header>
        <%- include("./partials/nav.ejs") %>
    </header>

    <div class="content">
        <h2>Welcome to our website. This is our home page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam omnis similique dicta, culpa nobis alias qui, odit at expedita rem enim odio. Eos iusto sint ratione architecto amet modi?</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
