<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <header>
      <%- include("./partials/nav.ejs") %>
    </header>

    <div class="content">
      <h2>Welcome to our website. We render engineering services, basically electronics</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta temporibus expedita voluptatibus accusamus, praesentium, deleniti similique explicabo, sunt ad vero culpa sint minus quas impedit nulla nostrum rerum magnam sequi?</p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
